<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>MODAL</title>

<!--v Packages -->
<script src="../../assets/js/jquery.min.js"></script>

<link href="../../assets/css/jquery-ui.min.css" rel="stylesheet" />
<script src="../../assets/js/jquery-ui.min.js"></script>

<link href="../../assets/css/select2.min.css" rel="stylesheet" />
<script src="../../assets/js/select2.min.js"></script>
<!--^ Packages -->

<!-- GUIDE관련 소스 -->
<link href="../assets/css/only_for_guide.css" rel="stylesheet" />
<script src="../assets/js/only_for_guide.js"></script>

<!--v codemirror : 소스보기용 -->
<link href="../assets/js/codemirror/lib/codemirror.css" rel="stylesheet" />
<link href="../assets/js/codemirror/theme/rubyblue.css" rel="stylesheet" />
<script src="../assets/js/codemirror/lib/codemirror.js"></script>
<script src="../assets/js/codemirror/mode/xml/xml.js"></script>
<script src="../assets/js/codemirror/mode/javascript/javascript.js"></script>
<script src="../assets/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="../assets/js/codemirror/addon/selection/active-line.js"></script>
<!--^ codemirror : 소스보기용 -->

<link href="../../assets/css/all.css" rel="stylesheet" />
<script src="../../assets/js/util.js"></script>
</head>

<body class="guide_page">

	<header>
		<div class="inner">
			<div class="logo">UI/UX GUIDE</div>
			<ul class="gnb">
				<li><a href="../index.html">페이지</a></li>
				<li><a href="../style.html">스타일</a></li>
				<li class="active"><a href="../components.html">컴포넌트</a></li>
				<li><a href="../layouts.html">레이아웃</a></li>
				<li><a href="../about.html">About</a></li>
			</ul>
		</div>
	</header>

	<div class="guide guide_style">
		<section>
			<div class="container">
				<h2 class="page-title">MODAL</h2>

				<div class="page-note">
					<strong>Overview</strong> layered 방식의 modal창, Preloader 예시와 사용방법입니다.<br/>
					<div>본 프로젝트에서는 콘텐츠 모달(.modal_contents)와 메시지 모달(.modal_message) 두 종류를 사용합니다.</div>
				</div>

				<article class="guide">
					<h3 class="guide-title">MODAL</h3>

					<div class="contents">
						<div class="guide-sub-title">
							Modal HTML+JS 보기
							<div class="right_menu">
								<button type="button" class="btn btn-primary btn_view_source" data-target="#sourceViewer4">
									<i class="icon-eyes">👀</i><span>HTML</span>
								</button>
							</div>
						</div>

						<ul class="info">
							<li>모달(.modal) 소스는 가급적 &lt;/body&gt; 태그 바로 위에 두시기 바랍니다.</li>
							<li style="color: red;">버튼에 btn_layer 클래스 명을 반드시 넣어주세요.</li>
							<li style="color: red;">팝업의 ID값을 지정하신 후에 버튼에 있는 data-target 속성에 ID값을 넣어주셔서 팝업이 열리도록 구성해주세요.</li>
							<li>Madal 팝업 관련 스크립트는 pubUtil.js에 있습니다.</li>
						</ul>

						<div class="guide_html">
<!--------------------------------------------------------------------------------------------->
<button type="button" class="btn btn-primary btn_layer" data-target="#layerPopup">
	<span>모달 열기</span>
</button>

<!-- layer : .layer_contents -->
<div id="layerPopup" class="layerPopup">
	<div class="layer-wrap" style="width: 760px;">
		<div class="layer-header">
			<h4 class="layer-title">콘텐츠 제목</h4>
			<div class="button-wrap">
				<button type="button" class="btn btn_close" title="창닫기">
					<i class="icon-close"></i>
				</button>
			</div>
		</div><!-- .layer-header -->

		<div class="layer-body">

			<div class="section-header">
				<div class="title">고객 기본정보</div>
			</div>

			<div class="section-body">
				<div class="grid-area">
					<div style="padding: 58px 0; text-align: center; font-size: 20px;">GRID영역</div><!-- 이 줄을 삭제 후 그리드를 삽입하세요. -->
				</div>
			</div><!-- .section-body -->

			<div class="section-foot">
				<div class="pagination-wrap">
					<ul class="pagination">
						<li class="first">
							<button class="btn"><i class="icon-arrow-first"></i></button>
						</li>
						<li class="prev">
							<button class="btn"><i class="icon-arrow-prev"></i></button>
						</li>
						<li class="page"><span>1</span></li>
						<li class="page"><span>2</span></li>
						<li class="page"><span>3</span></li>
						<li class="page"><span>4</span></li>
						<li class="page active"><span>5</span></li>
						<li class="next">
							<button class="btn disabled"><i class="icon-arrow-next"></i></button>
						</li>
						<li class="last">
							<button class="btn disabled"><i class="icon-arrow-last"></i></button>
						</li>
					</ul>
				</div>
			</div><!-- .section-foot -->
		</div><!-- .layer-body -->

		<div class="layer-footer">
			<div class="button-wrap">
				<button type="button" class="btn btn-line btn_close"><span>닫기</span></button>
				<button type="button" class="btn btn-primary"><span>저장</span></button>
			</div>
		</div><!-- .layer-footer -->
	</div><!-- .layer-contents -->
</div><!-- #layerPopup.layerPopup -->
<!--------------------------------------------------------------------------------------------->

						</div><!-- .guide_html -->

						<div class="guide_js">
<script>
$(document).ready(function () {
    // 레이어 활성화
    $(".btn_layer").on("click", function (event) {
        let $button = $(event.currentTarget);
        let $popupName = $(event.currentTarget.dataset.target);
        $popupName.fadeIn("fast");
        $("body").addClass("scroll_lock");
    });
    // 레이어 비활성화
    $(".layerPopup .btn_close").on("click", function () {
        $(this).parents(".layerPopup").fadeOut("fast");
        $("body").removeClass("scroll_lock");
    });
});
</script>
						</div><!-- .guide_js -->

						<div id="sourceViewer4" class="collapse source_viewer"></div>
					</div><!-- .contents -->

				</article>

				<article class="guide">
					<h3 class="guide-title">PRELOADER</h3>

					<div class="contents">
						<div class="guide-sub-title">
							기본 형태
							<div class="right_menu">
								<button type="button" class="btn btn-primary btn_view_source" data-target="#sourceViewer5">
									<i class="icon-eyes">👀</i><span>HTML</span>
								</button>
							</div>
						</div>

						<div class="guide-row">
							<div class="guide_html">
<button type="button" class="btn btn-primary" onclick="preloader('show', '저장 중 ...', true);">
	<span>Preloader 화면보기</span>
</button>
							</div>
							<div class="guide_html">
<button type="button" class="btn btn-primary" onclick="preloader_progress('show', true);">
	<span>Preloader + 진행율 화면보기</span>
</button>
							</div>
						</div><!-- .guide-row -->

						<div id="sourceViewer5" class="collapse source_viewer"></div>
					</div><!-- .contents -->

					<div class="contents">
						<div class="guide-sub-title">
							Preloader HTML+JS 보기
							<div class="right_menu">
								<button type="button" class="btn btn-primary btn_view_source" data-target="#sourceViewer6">
									<i class="icon-eyes">👀</i><span>HTML</span>
								</button>
							</div>
						</div>

						<ul class="info">
							<li><i class="icon-exclamation-circle-fill text-danger"></i> Preloader(.preloader_backdrop) 소스는 가급적 &lt;/body&gt; 태그 바로 위에 두시기 바랍니다.</li>
						</ul>
						<div class="guide_html">
<!--------------------------------------------------------------------------------------------->
<div class="preloader_backdrop">
	<div class="preloader">
		<div class="preloader_spinner">
			<div class="small_circle small_circle1"></div>
			<div class="small_circle small_circle2"></div>
			<div class="small_circle small_circle3"></div>
			<div class="small_circle small_circle4"></div>
			<div class="small_circle small_circle5"></div>
			<div class="small_circle small_circle6"></div>
			<div class="small_circle small_circle7"></div>
			<div class="small_circle small_circle8"></div>
			<div class="small_circle small_circle9"></div>
			<div class="small_circle small_circle10"></div>
			<div class="small_circle small_circle11"></div>
			<div class="small_circle small_circle12"></div>
		</div>
		<div class="preloader_text">
			로딩 중 ...
		</div>
		<div class="preloader_rate">
			<span class="value">0</span>
			<span class="unit">%</span>
		</div>
	</div>
</div>
<!--------------------------------------------------------------------------------------------->
						</div><!-- .guide_html -->

						<div class="guide_js">
<script>
function	preloader(show, text, isTest) {
	if(show === "show") {
		$(".preloader_backdrop").fadeIn();
		$(".preloader_text").html(text).addClass("ON");
		$("body").addClass("scroll_lock");

		if(isTest) {
			setTimeout(function() {
				preloader("hide");
			}, 5000);
		}
	}
	else {
		$(".preloader_backdrop").fadeOut();
		$(".preloader_text").removeClass("ON");
		$("body").removeClass("scroll_lock");
	}
}

function	preloader_progress(show, isTest) {
	if(show === "show") {
		$(".preloader_backdrop").fadeIn();
		$(".preloader_rate").addClass("ON");
		$("body").addClass("scroll_lock");

		if(isTest) GUIDE_loadingProgress();
	}
	else {
		$("body").removeClass("scroll_lock");
		$(".preloader_rate").removeClass("ON");
		$(".preloader_backdrop").fadeOut();
	}
}

/**
 * Progress rate에 표시를 함.
 * @param {Number} loadingRate - 페이지 로딩율
 */
function	setPreloaderProgress(loadingRate) {
	$(".preloader_rate").find(".value").text( parseFloat(loadingRate).toFixed(_LOADING_RATE_FIXED) );
	if(loadingRate >= 99.999999) {
		preloader_progress("hide");
	}
}
</script>
						</div><!-- .guide_js -->

						<div id="sourceViewer6" class="collapse source_viewer"></div>
					</div><!-- .contents -->

				</article>

			</div><!-- .container -->
		</section>
	</div><!-- .guide -->

	<footer>
		<div class="inner">
			<div class="copy">Copyright &copy; GRIDA 2023</div>
			<div class="f-logo"><img src="../assets/img/ci_grida.svg" /></div>
		</div>
	</footer>

</body>
</html>
