<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>풀페이지</title>

<!--v Packages -->
<script src="../../assets/js/jquery.min.js"></script>

<link href="../../assets/css/jquery-ui.min.css" rel="stylesheet" />
<script src="../../assets/js/jquery-ui.min.js"></script>

<link href="../../assets/css/select2.min.css" rel="stylesheet" />
<script src="../../assets/js/select2.min.js"></script>

<!-- rMateGridH5 CSS -->
<link rel="stylesheet" type="text/css" href="../../assets/js/rMateGrid/rMateGridH5/Assets/rMateH5.css"/>
<!-- rMateGridH5 라이센스 -->
<script type="text/javascript" src="../../assets/js/rMateGrid/LicenseKey/rMateGridH5License.js"></script>
<!-- rMateGridH5 라이브러리 -->
<script type="text/javascript" src="../../assets/js/rMateGrid/rMateGridH5/JS/rMateGridH5.js"></script>
<!--^ Packages -->

<link href="../../assets/css/all.css" rel="stylesheet" />
<script src="../../assets/js/util.js"></script>
</head>

<body class="full-page" style="background-color: #fff;">
	<header>
		<div class="inner">
			<h1 class="logo">
				<a href="#">
					<img src="../../assets/img/logo.svg" />
				</a>
			</h1>
		</div>
	</header>

	<div class="container">
		<div style="padding: 100px; color: #000; font-size:15px; line-height: 20px; background-color:#fada8f;">
			로그인 화면에 사용된 레이아웃입니다.
		</div>
	</div><!-- .container -->

	<footer>
		<div class="inner">
			<img src="../../assets/img/logo_f.svg" alt="경기도">
			<div class="copy">&copy;  COPYRIGHT (C)2023 NONGHYUP CO. LTD. ALL RIGHTS RESERVED.</div>
			<button type="button" class="btn btn-txt btn-sm">
				<span>개인정보처리방침</span>
			</button>
		</div>
	</footer>

</body>
</html>
