@charset "UTF-8";
/**
 * 레이아웃 관련된 style을 여기에 정의합니다.
 * 이 파일은 all.css에서 import되어 사용됩니다.
 */

html,
body {
	width: 100%;
	height: 100%;
	cursor: default;
}
body {
	background-color: var(--base-bg-color);
}

body, input, select, textarea, button, pre {
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	font-weight: 500;
	color: var(--base-text-color);
	letter-spacing: var(--base-letter-spacing);
}
textarea {
	resize: none;
}
pre {
	margin-bottom: 0;
	padding: 4px 0;
	color: var(--input-text-color);
	overflow: auto;
}

h1 { font-size: 20px; }
h2 { font-size: 20px; font-weight: 500; line-height: 30px; }
h3 { font-size: 18px; font-weight: 500; line-height: 24px; }
h4 { font-size: 16px; font-weight: 500; line-height: 24px; }
h5 { font-size: 14px; font-weight: 400; line-height: 20px; }




/************************************************
	GLOBAL COMMON
************************************************/
.show {
	display: block !important;
}
.hide {
	display: none;
}


.inner {
	min-width: var(--page-min-width);
}
.container { 
	width: var(--page-width);
	min-width: var(--page-min-width); 
	padding: 0 22px;
}

/* 버튼 영역 */
.button-wrap {
	display: flex;
	align-items: center;
	gap: 0 8px;
}
/* 버튼 구분 세로선 */
.button-wrap hr {
	padding: 0;
	margin: 0 10px;
	height: 16px;
	border: 0;
	border-left: 1px solid #ddd;
}


/************************************************
	BASIC LAYOUT
************************************************/
/* 내부 div를 수직으로 중앙 정렬하기 위해서(ex 로그인.html) */
.full-page {
	display: flex;
	flex-direction: column;
	min-height: 800px;
	background-color: #fff;
}
.full-page .container {
	flex: 1 0 0;
	display: flex;
	flex-direction: column;
	padding: 20px 50px;
}
.full-page header .inner {
	padding: 20px 50px 0;
}
.full-page footer {
	max-width: var(--page-min-width);
	padding: 16px 0;
	text-align: center;
}
.full-page footer .inner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 12px;
	min-width: auto;
}
.full-page footer .copy {
	color: var(--sub-text-color);
	font-size: 10px;
	line-height: 16px;
}
.full-page footer .copy::after {
	content: '';
	display: inline-block;
	height: 8px;
	margin: 0 -12px 0 12px;
	/* border-left: 1px solid #ddd; */
}
.full-page footer .btn-txt {
	color: var(--sub-text-color);
	font-size: 11px;
}

/* 그 외에 일반 페이지 */
.normal-page .container {
	padding: 60px 30px;
}
.normal-page header h1 {
	margin: 0 auto;
}

/* 서브 공통 */
.sub-page .container {
	/* display: flex;
	gap: 0 20px; */
	position: relative;
	min-height: calc(100% - 104px);
	padding-left: 254px;
}
/* LEFT MENU */
.sub-page .container #lnb {
	/* position: relative;
	flex-grow: 0; */
	position: absolute;
	left: 22px;
	top: 0;
	bottom: 0;
	padding: 0 12px 16px 0;
}
/* CONTENT AREA */
.sub-page .container .content-wrap {
	flex: 1;
	padding-bottom: 20px;
}

/* CONTENT HEADER */
.content-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 28px;
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #8EA4B7;
}
.content-header .title-wrap {
	display: flex;
	align-items: center;
}
.content-header .title-wrap .title {
	font-size: var(--title-font-size);
	font-weight: 700;
	line-height: 28px;
}
.content-header .title-wrap .title + .title::before {
	content: "\e905";
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: -3px;
	font-family: "icomoon";
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	vertical-align: middle;
}

.content-header .sub-title {
	font-size: var(--base-font-size);
}
.content-header .button-wrap {
	display: flex;
	align-items: center;
	gap: 0 5px;
}

/* SECTION HEADER */
.section-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}
.section-header .title-wrap {
	display: flex;
	align-items: center;
	gap: 0 10px;
}
.section-header .title-wrap .title {
	color: var(--title-color);
	font-size: var(--sub-font-size);
	font-weight: 500;
	line-height: 28px;
}
.section-header .title-wrap .title .small {
	display: inline-block;
	margin-left: 2px;
	font-size: 14px;
	font-weight: 400;
}
.section-header .title-wrap .sub-title {
	color: var(--sub-text-color);
	font-size: 11px;
	font-weight: 400;
}
.section-header .title-wrap .sub-title::before {
	content: '※';
}
.section-header .title-wrap .sub-title:only-child {
	margin-left: auto;
}
.section-header > div:only-child {
	flex: 1;
}

.section-header .button-wrap:only-child {
	flex: 1;
	justify-content: flex-end;
}
.section-header .form-control-wrap:only-child {
	flex: none;
	margin-left: auto;
}


/* SECTION BODY */
.section-body {
	padding: 16px 20px 20px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: var(--box-shadow);
}
.section-body + .section-body {
	margin-top: 12px;
}

.section-foot {
	padding-top: 12px;
}
/* .content-body > .section-foot .button-wrap:only-child {
	justify-content: flex-end;
} */
.section-foot .button-wrap {
	justify-content: center;
}
.section-foot .button-wrap .btn {
	min-width: 100px;
}


/************************************************
	UTIL
************************************************/
#util {
	background-color: #fff;
	box-shadow: var(--box-shadow);
}
#util .inner {
	width: var(--page-width);
	padding: 8px 22px;
}
#util .info {
	display: flex;
	align-items: center;
    justify-content: flex-end;
	gap: 0 12px;
}
#util .info .administrator {
	display: flex;
	align-items: center;
	color: var(--primary);
}
#util .info .administrator i {
	font-size: 20px;
}
#util .info .administrator span {
	margin-top: -2px;
	font-size: 14px;
}
#util .info .address {
	height: 12px;
	padding: 0 12px;
	color: var(--base-text-color);
	font-size: 14px;
	line-height: 11px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#util .info .address {
	color: var(--base-text-color);
	font-size: 14px;
}
#util .info .log {
	color: #666;
	font-size: 12px;
}
#util .info .btn-txt {
	color: #111;
}



/************************************************
	HEADER
************************************************/
header {
	width: var(--page-width);
	min-width: var(--page-min-width);
}
header .inner {
	position: relative;
	height: 64px;
	padding: 12px 22px;
}
header .logo { 
	width: 248px;
	height: 42px;
	line-height: 40px;
	cursor: pointer;
}
header .logo img {
	vertical-align: middle;
}

/* GNB */
#gnb {
	position: absolute;
	left: 253px;
	/* right: 22px; */
	top: 12px;
	padding-right: 100px;
}
#gnb .gnb-list {
	display: flex;
	gap: 0 24px;
    min-width: 798px;
	margin-left: 108px;
}
#gnb .gnb-list > li {
	position: relative;
	height: 48px;
	padding-bottom: 8px;
	color: #000;
	font-size: 16px;
	font-weight: 700;
	white-space: nowrap;
}
#gnb .gnb-list > li:last-child .btn {
	margin-top: -4px;
	padding: 0;
	font-weight: 500;
}
#gnb .gnb-list > li > a {
	display: block;
	height: 40px;
	padding: 10px 17px;
	color: var(--tab-text-color);
	font-size: 16px;
	border-radius: 40px;
	text-align: center;
}
#gnb .gnb-list li:hover > span,
#gnb .gnb-list li:hover > a {
	color: var(--primary);
}
#gnb .gnb-list li.on > span,
#gnb .gnb-list li.on > a {
	color: #fff;
	font-weight: 700;
	background-color: var(--primary);
	box-shadow: 4px 4px 8px rgba(47, 143, 239, 0.32);
}

/* 전체보기 버튼 */
#gnb .btn-allmenu {
	gap: 0 12px;
	position: absolute;
	right: 0;
	top: 10px;
	font-size: 14px;
}
#gnb .btn-allmenu i {
	font-size: 20px;
}
#gnb .btn-allmenu.on {
	right: -18px;
	top: 0;
	height: 40px;
	padding: 0 18px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	background-color: var(--primary);
	border-radius: 40px;
}
#gnb .btn-allmenu.on i {
	font-size: 24px;
}


/* GNB SUB MENU */
#gnb .gnb-list li:hover .gnb-sub-menu {
	display: block;
	position: relative;
	margin-top: 8px;
}
#gnb .gnb-list li:hover .gnb-sub-menu::before {
	content: '';
	display: inline-block;
	position: absolute;
	left: 50%;
	top: -5px;
	width: 8px;
	height: 8px;
	margin-left: -4px;
	background-color: #fff;
	border-top: 2px solid var(--primary);
	border-right: 2px solid var(--primary);
	clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
	transform: rotate(315deg);
}
#gnb .gnb-list > li .gnb-sub-menu {
	display: none;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 100;
	width: 164px;
	padding: 12px 16px;
	margin-left: -82px;
	background-color: #fff;
	border: 2px solid var(--primary);
	border-radius: 15px;
	box-shadow: 0px 0px 20px 0px rgba(4, 111, 217, 0.20);

}
#gnb .gnb-list > li .gnb-sub-menu .menu-list > li > span {
	display: block;
	padding: 7px 0;
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px solid #ddd;
}
#gnb .gnb-list > li .gnb-sub-menu .sub-menu {
	margin-bottom: 14px;
}
#gnb .gnb-list > li .gnb-sub-menu .menu-list li:last-child .sub-menu {
	margin-bottom: 0;
}
#gnb .gnb-list > li .gnb-sub-menu .sub-menu li {
	padding: 4.5px 0;
	font-weight: 400;
	font-size: var(--base-font-size);
}


/************************************************
	LEFT MENU
************************************************/
#lnb .group-title {
	height: 64px;
	padding: 20px 20px 20px 52px;
	margin-bottom: 12px;
	color: var(--primary);
	font-size: 14px;
	line-height: 22px;
	background-color: #fff;
	border-radius: 16px;
	box-shadow: var(--box-shadow);
}
/* 바우처 */
#lnb .group-title.menu01 {
	background: #fff url('../img/icon/icon_lnb01.png') no-repeat 20px center;
}
#lnb .group-title.menu02 {
	background: #fff url('../img/icon/icon_lnb02.png') no-repeat 20px center;
}
#lnb .group-title.menu03 {
	background: #fff url('../img/icon/icon_lnb03.png') no-repeat 20px center;
}
#lnb .group-title.menu04 {
	background: #fff url('../img/icon/icon_lnb04.png') no-repeat 20px center;
}
#lnb .group-title.menu05 {
	background: #fff url('../img/icon/icon_lnb05.png') no-repeat 20px center;
}
#lnb .group-title.menu06 {
	background: #fff url('../img/icon/icon_lnb06.png') no-repeat 20px center;
}

/* 통합어드민 */
#lnb .group-title.menu_a01 {
	background: #fff url('../img/icon/icon_lnb_a01.png') no-repeat 20px center;
}
#lnb .group-title.menu_a02 {
	background: #fff url('../img/icon/icon_lnb_a02.png') no-repeat 20px center;
}
#lnb .group-title.menu_a03 {
	background: #fff url('../img/icon/icon_lnb_a03.png') no-repeat 20px center;
}
#lnb .group-title.menu_a04 {
	background: #fff url('../img/icon/icon_lnb_a04.png') no-repeat 20px center;
}
#lnb .group-title.menu_a05 {
	background: #fff url('../img/icon/icon_lnb_a05.png') no-repeat 20px center;
}
#lnb .group-title.menu_a06 {
	background: #fff url('../img/icon/icon_lnb_a06.png') no-repeat 20px center;
}
#lnb .menu-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 220px;
	height: calc(100% - 80px);
	padding: 20px;
	background-color: #fff;
	border-radius: 16px;
	box-shadow: var(--box-shadow);
	
}
#lnb .menu-list > li + li {
	margin-top: 24px;
}
#lnb .menu-list > li > a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--base-text-color);
	font-size: 14px;
	line-height: 22px;
	cursor: pointer;
}
#lnb .menu-list > li.on > a i.icon-arrow-down:before {
	content: "\e908";
	color: #bbb;
}
#lnb .menu-list > li > a i.icon-arrow-down {
	color: var(--base-text-color);
	font-size: 20px;
}
#lnb .menu-list > li i.icon-menu-depth {
	margin-top: -5px;
}
#lnb .menu-list li .sub-menu {
	display: none;
	margin: 8px 0 24px 20px;
}
#lnb .menu-list li .sub-menu li a {
	display: flex;
	align-items: center;
	gap: 0 3px;
	padding: 11px 3px;
	color: #666;
	font-size: 14px;
	font-weight: 500;
}
#lnb .menu-list li .sub-menu li a:hover {
	color: var(--primary);
}
#lnb .menu-list li .sub-menu li.on a {
	color: var(--primary);
}
#lnb .menu-list li .sub-menu li.on a::after {
	content: "";
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-left: 4px;
	background-color: var(--primary);
	border-radius: 4px;
}
#lnb .menu-list li .sub-menu .icon-submenu {
	font-size: 18px;
	font-weight: 400;
}
/* 메뉴 아이콘*/
#lnb .menu-list > li > a > span::before {
	font-family: "icomoon";
	display: inline-block;
	margin-right: 8px;
	color: #8EA4B7;
}

/* 바우처 */
#lnb .menu-list .menu1-1::before {
	content: '\e915'; /* 대상자 관리 */
}
#lnb .menu-list .menu1-2::before {
	content: '\e916'; /* 카드관리 */
}
#lnb .menu-list .menu1-3::before {
	content: '\e917'; /* 이용현황 */
}
#lnb .menu-list .menu1-4::before {
	content: '\e93a'; /* 모바일관리(농식품) */
}
#lnb .menu-list .menu2-1::before {
	content: '\e918'; /* 거래내역 */
}
#lnb .menu-list .menu2-2::before {
	content: '\e919'; /* 가맹점관리 */
}
#lnb .menu-list .menu2-3::before {
	content: '\e91a'; /* 가맹점별거래현황 */
}
#lnb .menu-list .menu3-1::before {
	content: '\e91b'; /* 정산관리 */
}
#lnb .menu-list .menu4-1::before {
	content: '\e91c'; /* 모니터링 */
}
#lnb .menu-list .menu4-2::before {
	content: '\e91d'; /* 통계현황 */
}
#lnb .menu-list .menu5-1::before {
	content: '\e91e'; /* 지원정책 */
}
#lnb .menu-list .menu6-1::before {
	content: '\e920'; /* 공지관리 */
}
#lnb .menu-list .menu6-2::before {
	content: '\e92a'; /* 계정관리 */
}
#lnb .menu-list .menu6-3::before {
	content: '\e92b'; /* 시스템관리 */
}
#lnb .menu-list .menu6-4::before {
	content: '\e92c'; /* 문자관리 */
}

/* 통합어드민 */
#lnb .menu-list .menu_a1-1::before {
	content: '\e931'; /* 공통 시스템관리 */
}
#lnb .menu-list .menu_a2-1::before {
	content: '\e932'; /* 바우처별 시스템 관리 */
}
#lnb .menu-list .menu_a2-2::before {
	content: '\e933'; /* 가맹점관리 */
}
#lnb .menu-list .menu_a3-1::before {
	content: '\e934'; /* 정산관리 */
}
#lnb .menu-list .menu_a3-2::before {
	content: '\e935'; /* 정산관리 */
}
#lnb .menu-list .menu_a4-1::before {
	content: '\e936'; /* 모니터링 */
}
#lnb .menu-list .menu_a4-2::before {
	content: '\e937'; /* 모니터링 */
}
#lnb .menu-list .menu_a5-1::before {
	content: '\e938'; /* 대상자 관리 */
}
#lnb .menu-list .menu_a6-1::before {
	content: '\e939'; /* 거래내역 */
}

/* 시스템문의 */
#lnb .menu-wrap .inquiry div {
	color: var(--sub-text-color);
	font-size: 11px;
	line-height: 16px;
}
#lnb .menu-wrap .inquiry .btn-txt {
	font-size: 13px;
	font-weight: 500;
	line-height: 18px;
}

/************************************************
	SEARCH FORM
************************************************/
.search-form-wrap {
	padding: 16px 20px;
	margin-bottom: 12px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: var(--box-shadow);
}
.search-form-inner .search-form {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8px 0;
}
.search-form-inner .button-wrap {
	justify-content: center;
	padding-top: 8px;
	margin-top: 8px;
	border-top: 1px dashed #ddd;
}
.search-form-inner .button-wrap .btn {
	min-width: 100px;
}
.search-form-inner .row {
	display: flex;
	gap: 0 8px;
}
/* col > label */
.search-form-inner .row > *[class^="col-"] {
	display: inline-flex;
	align-items: center;
	line-height: 28px;
}

.search-form-inner .form-label {
	min-width: 72px;
	margin-right: 8px;
	color: var(--base-text-color);
	font-size: var(--base-font-size);
	text-align: right;
}
.search-form-inner div[class^="col-"]:first-child .form-label {
	min-width: 90px;
}

/* 검색영역 form요소 */
.search-form-inner .form-control, 
.search-form-inner .form-select {
	padding-left: 10px;
}
.search-form-inner .select2-container .select2-selection--single .select2-selection__rendered {
	padding-right: 28px;
	padding-left: 8px;
}
.search-form-inner .select2-container .select2-selection--single button.select2-selection__clear + .select2-selection__rendered {
	padding-right: 0px;
}
.search-form-inner .input_datepicker_wrap {
	min-width: 152px !important;
}

/* 검색영역 - 가로 한줄일때 */
.search-form-wrap.horizontal .search-form-inner {
	display: flex;
	gap: 0 20px;
}
.search-form-wrap.horizontal .button-wrap {
	padding-top: 0;
	margin-top: 0;
	border: 0;
}

/* 검색영역 - 탭이 있을때 */
.search-form-wrap .tab-menu + form .search-form-inner {
	padding-top: 20px;
	border-top: 1px solid #000;
}
.search-form-wrap .tab-menu + form .tab-section {
	padding: 11px 0 0 0;
}


/************************************************
	GRID 상단 검색 영역
************************************************/
.grid-search {
	display: flex;
	justify-content: space-between;
	padding: 7px 12px;
	margin-bottom: 12px;
	border: 1px solid #ddd;
	border-radius: var(--border-radius);
}
.grid-search .form-label {
	min-width: 80px;
	margin-right: 14px;
	text-align: left;
	line-height: 20px;
	border-right: 1px solid #ddd;
}
.grid-search .button-wrap .btn {
	min-width: 100px;
}


/************************************************
	ROW > COL-*
************************************************/
.row {
	display: flex;
	gap: 0 20px;
}
.row .section-body {
	padding: 20px;
}

/* col 개념 */
.col-1 {
	width: calc( var(--col-width) * 1);
}
.col-2 {
	width: calc( var(--col-width) * 2);
}
.col-3 {
	width: calc( var(--col-width) * 3);
}
.col-4 {
	width: calc( var(--col-width) * 4);
}
.col-5 {
	width: calc( var(--col-width) * 5);
}
.col-6 {
	/* width: calc( 50% + 16px); */
	width: calc( var(--col-width) * 6);
}
.col-7 {
	width: calc( var(--col-width) * 7);
}
.col-8 {
	width: calc( var(--col-width) * 8);
}
.col-9 {
	width: calc( var(--col-width) * 9);
}
.col-10 {
	width: calc( var(--col-width) * 10);
}
.col-11 {
	width: calc( var(--col-width) * 11);
}
.col-12 {
	width: calc( var(--col-width) * 12);
}